.sidebar {
  flex: 1;

  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
}
.sidebarWrapper {
  padding: 20px;
}
.sidebarMenu {
  text-align: left;
  margin-bottom: 10px;
}
.sidebarTitle {
  font-size: 16px;
  color: grey;
}
.sidebarList {
  list-style: none;
  padding: 0px;
}
.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-size: 13px;
}
.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
.sidebarListItem:hover,
.sidebarListItem.active {
  background-color: lightgrey;
}
