.App {
}
a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
}
.container {
  display: flex;
}

.content {
  flex: 4 1;
  background-color: rgb(241, 241, 241);
  overflow-x: hidden;
  padding: 20px;
}

* {
  box-sizing: border-box;
}
